
html, body {
margin: 0;
padding: 0;
height: 100%;
}

a {
	color: #fff
}

.relatorio label p {
  font-size: 30px;
}

.wrapper{
min-height: 100%;
position: relative;
}

.rodape {
  background-color: #333;
  color: #fff;
  width: 100%;
}

.espaco {
  margin-bottom: 100px;
}

/* Mudar a cor dos inputs quando selecionados Bootstrap */
.form-control:focus {
  color: #dc3545;
  background-color: #fff;
  border-color: #dc3545;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.15);


/* Mudar a cor dos checkbox Bootstrap */

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #dc3545;
  background-color: #dc3545;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(231, 101, 114, 0.25);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #f1a7ae;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

/* Mudar a cor dos links da paginação */

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #dc3545;
  background-color: #fff;
  border: 1px solid #dc3545;
}

.page-link:hover {
  z-index: 2;
  color: #fff;
  text-decoration: none;
  background-color: #dc3545;
  border-color: #dee2e6;
}

/* Mudar a cor dos ícones do fontawesome */

.fa-check {
  color: green;
}

.fa-times {
  color: red;
}