<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-danger fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/cadastro">
    			<img src="/res/img/abrace.png" width="40" height="40" class="d-inline-block align-top" alt="Abrace Logo">
  			</a>
	    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
	  		<div class="collapse navbar-collapse" id="navbarToggle">
	    		<div class="navbar-nav">
	      			<a class="nav-item nav-link" href="/cadastro">Cadastro</a>
	      			<a class="nav-item nav-link active" href="/pesquisa">Pesquisa</a>
	      			<a class="nav-item nav-link" href="/relatorio">Relatório</a>
	    		</div>
	    		<div class="ml-4">
	    			<a href="/logout" class="btn btn-sm btn-outline-danger">Sair</a>
	    		</div>
	  		</div>
  		</div>
	</nav>
	<div class="espaco"></div>
<div class="wrapper mb-4">
	<div class="container">

		<div class="row mb-4 mx-auto">
			<h2>Dados Cadastrados</h2>
		</div>

		<div class="row">
			<label class="col-md-1"><b>Nome</b></label>
			<p class="col-md-5">{function="corrigirNome($paciente.nome)"}</p>
		</div>

		<div class="row">
			<label class="col-md-1"><b>Endereço</b></label>
			<p class="col-md-5">{function="corrigirNome($paciente.endereco)"}</p>
		</div>

		<div class="row">
			<label class="col-md-1"><b>Cidade</b></label>
			<p class="col-md-3">{function="corrigirNome($paciente.cidade)"}</p>

			<label class="col-md-1"><b>Bairro</b></label>
			<p class="col-md-3">{function="corrigirNome($paciente.bairro)"}</p>

			<label class="col-md-1"><b>Cep</b></label>
			<p class="col-md-3">{$paciente.cep}</p>
		</div>

		<div class="row">
			<label class="col-md-1"><b>E-mail</b></label>
			{if="$paciente.email == null"}
			<p class="col-md-3">Não informado</p>
			{else}
			<p class="col-md-3">{$paciente.email}</p>
			{/if}
		</div>

		<div class="row">
			<label class="col-md-1"><b>Telefone</b></label>
			{if="$paciente.tel == null"}
			<p class="col-md-3">Não informado</p>
			{else}
			<p class="col-md-3">{$paciente.tel}</p>
			{/if}

			<label class="col-md-1"><b>Celular</b></label>
			{if="$paciente.cel == null"}
			<p class="col-md-3">Não informado</p>
			{else}
			<p class="col-md-3">{$paciente.cel}</p>
			{/if}
		</div>

		<div class="row">
			<label class="col-md-1"><b>Idade</b></label>
			{if="$paciente.idade == null"}
			<p class="col-md-2">Não informado</p>
			{else}
			<p class="col-md-2">{$paciente.idade} anos</p>
			{/if}

			<label class="col-md-1"><b>Altura</b></label>
			{if="$paciente.altura == null"}
			<p class="col-md-2">Não informado</p>
			{else}
			<p class="col-md-2">{function="casaDecimal($paciente.altura)"}m</p>
			{/if}

			<label class="col-md-1"><b>Peso</b></label>
			{if="$paciente.peso == null"}
			<p class="col-md-2">Não informado</p>
			{else}
			<p class="col-md-2">{function="casaDecimal($paciente.peso)"} Kg</p>
			{/if}

			<label class="col-md-1"><b>Temp.</b></label>
			{if="$paciente.temperatura == null"}
			<p class="col-md-2">Não informado</p>
			{else}
			<p class="col-md-2">{function="casaDecimal($paciente.temperatura)"}°</p>
			{/if}
		</div>

		<div class="row">
			<label class="col-md-1"><b>P.A.</b></label>
			{if="$paciente.pa == null"}
			<p class="col-md-2">Não informado</p>
			{else}
			<p class="col-md-2">{$paciente.pa}</p>
			{/if}

			<label class="col-md-1"><b>Glicemia</b></label>
			{if="$paciente.glicemia == null"}
			<p class="col-md-2">Não informado</p>
			{else}
			<p class="col-md-2">{$paciente.glicemia} mg/dl</p>
			{/if}

			<label class="col-md-1"><b>Respiração</b></label>
			{if="$paciente.respiracao == null"}
			<p class="col-md-2">Não informado</p>
			{else}
			<p class="col-md-2">{$paciente.respiracao} rpm</p>
			{/if}

			<label class="col-md-1"><b>Pulso</b></label>
			{if="$paciente.pulso == null"}
			<p class="col-md-2">Não informado</p>
			{else}
			<p class="col-md-2">{$paciente.pulso} bpm</p>
			{/if}
		</div>

		<div class="row">
			<label class="col-md-1"><b>Obs</b></label>
			{if="$paciente.obs == null"}
			<p class="col-md-2">Nenhuma</p>
			{else}
			<p class="col-md-11">{function="corrigirNome($paciente.obs)"}</p>
			{/if}
		</div>

		<div class="row mt-3">
			<label class="col-md-6"><h3>Consulta(s) Cadastrada(s)</h3></label>
		</div>

		<div class="row">
			<span class="ml-3"><p>Atendido <i class="fa fa-check"></i> / Não Atendido <i class="fa fa-times"></i></p></span>
		</div>

		<div class="col-md-4 ml-1 mt-2 mb-5 row border border-secondary rounded-lg">
			<table class="table table-sm borderless">
				<th>Especialidade</th>
				<th>Atendido</th>
				{loop="$consultas"}
				<tr>
					<td>{function="pegarEspecialidade($value.consulta)"}</td>
					<td><span class="ml-4">{if="$value.atendido == 1"}<i class="fa fa-check"></i>{else}<i class="fa fa-times"></i>{/if}</span>
					</td>
				</tr>
				{/loop}
			</table>
		</div>
	</div>
</div>
