<div class="wrapper">
	<div class="container">

		<div class="row mb-5 mx-auto">
			<h2>Dados Cadastrados</h2>
		</div>

		<div class="row">
			<label class="col-md-1"><b>Nome</b></label>
			<p class="col-md-5">{function="corrigirNome($paciente.nome)"}</p>
		</div>

		<div class="row">
			<label class="col-md-1"><b>Endereço</b></label>
			<p class="col-md-5">{function="corrigirNome($paciente.endereco)"}</p>
		</div>

		<div class="row">
			<label class="col-md-1"><b>Cidade</b></label>
			<p class="col-md-3">{function="corrigirNome($paciente.cidade)"}</p>

			<label class="col-md-1"><b>Bairro</b></label>
			<p class="col-md-3">{function="corrigirNome($paciente.bairro)"}</p>

			<label class="col-md-1"><b>Cep</b></label>
			<p class="col-md-3">{$paciente.cep}</p>
		</div>

		<div class="row">
			<label class="col-md-1"><b>E-mail</b></label>
			{if="$paciente.email == null"}
			<p class="col-md-3">Não informado</p>
			{else}
			<p class="col-md-3">{$paciente.email}</p>
			{/if}
		</div>

		<div class="row">
			<label class="col-md-1"><b>Telefone</b></label>
			{if="$paciente.tel == null"}
			<p class="col-md-3">Não informado</p>
			{else}
			<p class="col-md-3">{$paciente.tel}</p>
			{/if}

			<label class="col-md-1"><b>Celular</b></label>
			{if="$paciente.cel == null"}
			<p class="col-md-3">Não informado</p>
			{else}
			<p class="col-md-3">{$paciente.cel}</p>
			{/if}
		</div>

		<div class="row">
			<label class="col-md-3"><b>Status da(s) Consulta(s)</b></label>
			<div class="row">
				<span class="ml-3"><p>Atendido (<i class="fa fa-check"></i>) / Não Atendido (<i class="fa fa-times"></i>)</p></span>
			</div>
		</div>
		<div class="col-md-3 ml-1 mt-3 row border border-secondary rounded-lg">
			<ol>
				{loop="$consultas"}
				<li class="mt-2">{function="pegarEspecialidade($value.consulta)"} <span class="ml-3">{if="$value.atendido == 1"}<i class="fa fa-check"></i>{else}<i class="fa fa-times"></i>{/if}</span></li>
				{/loop}
			</ol>
		</div>
	</div>
</div>
