<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-danger fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/cadastro">
    			<img src="/res/img/abrace.png" width="40" height="40" class="d-inline-block align-top" alt="Abrace Logo">
  			</a>
	    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
	  		<div class="collapse navbar-collapse" id="navbarToggle">
	    		<div class="navbar-nav">
	      			<a class="nav-item nav-link" href="/cadastro">Cadastro</a>
	      			<a class="nav-item nav-link" href="/pesquisa">Pesquisa</a>
	      			<a class="nav-item nav-link active" href="/relatorio">Relatório</a>
	    		</div>
	    		<div class="ml-4">
	    			<a href="/logout" class="btn btn-sm btn-outline-danger">Sair</a>
	    		</div>
	  		</div>
  		</div>
	</nav>
	<div class="espaco"></div>
<div class="wrapper">
	<div class="container">

		<div class="row mb-5">
			<h1 class="text-center">Dados Totais</h1>
		</div>

		<div class="row mb-3">
			<h4>Total Pacientes</h4>
		</div>

		<div class="row relatorio border-bottom border-danger">
			<label class="col-md-2"><b>Total de Pacientes:</b></label>
			<p class="col-md-2">{$relatorio.total_pacientes}</p>

			<label class="col-md-2"><b>Total de Consultas:</b></label>
			<p class="col-md-2">{$relatorio.total_consultas}</p>

			<label class="col-md-2"><b>Consultas Atendidas:</b></label>
			<p class="col-md-2">{$relatorio.total_atendido}</p>
		</div>

		<div class="row mt-5 mb-3">
			<h4>Total Consultas</h4>
		</div>
		<div class="row">
			<label class="col-md-3"><b>Consultas com o Clínico:</b></label>
			<p class="col-md-2">{$relatorio.total_clinico}</p>

			<label class="col-md-3"><b>Consultas com o Oftalmo:</b></label>
			<p class="col-md-2">{$relatorio.total_oftalmo}</p>
		</div>

		<div class="row">
			<label class="col-md-3"><b>Consultas com o Psicólogo:</b></label>
			<p class="col-md-2">{$relatorio.total_psicologo}</p>

			<label class="col-md-3"><b>Consultas com o Nutricionista:</b></label>
			<p class="col-md-2">{$relatorio.total_nutricionista}</p>
		</div>

		<div class="row">
			<label class="col-md-3"><b>Consultas com o Massoterapista:</b></label>
			<p class="col-md-2">{$relatorio.total_massoterapia}</p>

			<label class="col-md-3"><b>Consultas com o Acupuntor:</b></label>
			<p class="col-md-2">{$relatorio.total_acupuntura}</p>
		</div>

		<div class="row border-bottom border-danger">
			<label class="col-md-3"><b>Consultas com a Ginecologista:</b></label>
			<p class="col-md-2">{$relatorio.total_ginecologista}</p>
		</div>

	</div>
</div>